{% extends 'base.html' %}


{% block content %}
<div class="py-5">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>Eberechukwu Light Praise</td>
            </tr>
            <tr>
                <th scope="row">Reg. No.</th>
                <td>2019514000</td>
            </tr>
            <tr>
                <th scope="row">Department</th>
                <td>Computer Science</td>
            </tr>
            <tr>
                <th scope="row">Faculty</th>
                <td>Physical Sciences</td>
            </tr>
            <tr>
                <th scope="row">Year</th>
                <td>2019/2020</td>
            </tr>
            <tr>
                <th scope="row">Courses</th>
                <td>
                    <ul>
                        <li>CSC 801 - Management and Entrepreneurship</li>
                        <li>CSC 811 - Computer Communication and Networks</li>
                        <li>CSC 821 - Operating Systems</li>
                        <li>CSC 831 - Database Systems</li>
                        <li>CSC 861 - Software Engineering</li>
                        <li>CSC 851 - Internet Technologies</li>
                        <li>CSC 881 - Advanced Computer Architecture</li>
                        <li>CSC 813 - Object Oriented Programming</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>
{% endblock content %}